<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>facenet</title>
</head>
<body>
<h1>facework</h1>
<form action="/upload2" id="face_upload" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><input name="face1" type="file"></td>
        </tr>
        <tr>
            <td><input name="face2" type="file"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
<h1>result matrix</h1>

</body>
</html>